flake8==6.0.0
isort==5.12.0
black==23.1.0
mypy==1.0.0
pytest==7.2.1
pytest-aiohttp==1.0.4
aiohttp==3.8.3
async-timeout==4.0.2;python_version<"3.11"
yarl==1.8.2
multidict==6.0.4
prometheus-client==0.13.1
opentelemetry-api==1.6.2
opentelemetry-semantic-conventions==0.26b1
backports.zoneinfo;python_version<"3.9"
