flake8==4.0.1
isort==5.9.3
black==21.10b0
mypy==0.910
pytest==6.2.5
pytest-aiohttp==0.3.0
aiohttp==3.8.0
yarl==1.7.0
multidict==5.2.0
prometheus-client==0.12.0
opentelemetry-api==1.6.2
opentelemetry-semantic-conventions==0.25b2
backports.zoneinfo;python_version<"3.9"
