flake8==7.3.0
isort==6.0.1
black==25.9.0
pyright==1.1.405
pytest==8.4.2
pytest-aiohttp==1.1.0
pytest-httpbin==2.1.0
aiohttp==3.12.15
yarl==1.20.1
multidict==6.6.4
httpx==0.28.1
prometheus-client==0.23.1
opentelemetry-api>=1.27
opentelemetry-semantic-conventions
opentelemetry-exporter-prometheus
opentelemetry-instrumentation-aiohttp-client
