name: CI

on:
  push:
    branches:
      - main
    tags: [ 'v*' ]
  pull_request:
    branches:
      - main


jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 15

    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]

    steps:
    - uses: actions/checkout@v5
    - name: Install uv
      uses: astral-sh/setup-uv@v5
    - name: Switch to python ${{ matrix.python-version }}
      with:
        python-version: ${{ matrix.python-version }}
      run: |
        echo ${{ matrix.python-version }} > .python-version
    - name: Install dependencies
      run: |
        make deps
    - name: Lint
      run: |
        make lint
    - name: Tests
      run: |
        make test

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: test
    # Run only on pushing a tag
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Install uv
      uses: astral-sh/setup-uv@v5
    - name: Build
      run: |
        uv build
    - name: Publish
      env:
        UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
      run: |
        uv publish
